html, body {
	height: 100%;
	margin: auto;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	width: 960px;
	background-image: url(../images/shattered.png);
	color: #777777;
}

.wrapper {
	min-height: 100%;
	margin-bottom: -50px;
}

.content {
	min-height: 100%;
}

.content-inside {
	padding: 20px;
	padding-bottom: 50px;
}

h1, h2, h3, h4 {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

h1 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

/*nav bar*/

nav {
	background-color: #ffffff;
	height: 70px;
	border-bottom: 2px solid #cccccc;
	width: 100%;
}

#logo {
	background-color: #4aaaa5;
	width: 200px;
	padding: 20px;
	float: left;
	margin: 6px 0 0 50px;
	text-align: center;
	color: #ffffff;
	}

ul {
	float: right;
	padding: 20px;
}

nav a {
	text-decoration: none;
	color: #cccccc;
}

nav a:hover {
	color: #4aaaa5;
	cursor: pointer;
}

li {
	display: inline;
	margin: 10px;
}

#portfoliolink {
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	padding: 0 10px 0 10px;
}

/*main container*/

.main {
	width: 595px;
	margin: 20px 20px 20px 50px;
	float: left;
	background-color: #ffffff;
	border: 1px solid #dddddd;
}

.main h1 {
	padding: 20px 0 20px 0;
	margin: 0 20px 0 20px;
	border-bottom: 2px solid #cccccc;
	color: #4aaaa5;
}

.main p {
	margin: 20px;
}

/*connect with me aside*/

aside {
	background-color: #ffffff;
	width: 270px;
	float: left;
	text-align: center;
	margin: 20px 0 20px 20px;
	border: 1px solid #dddddd;
}

aside h3 {
	color: #4aaaa5;
	padding: 20px 0 20px 0;
	border-bottom: 2px solid #cccccc;
	margin: 0 20px 0 20px;
}

#icons {
	margin: 20px;
	padding-bottom: 10px;
}

/*footer*/

footer {
	clear: both;
	background-color: #666666;
	font-size: 10px;
	padding: 20px;
	text-align: center;
	border-top: 5px solid #4aaaa5;

	/*to make sticky footer*/
	margin-top: -50px;
	height: 50px;
}

.footer, .push {
	height: 50px;
}

/*index page*/

#profilepic {
	float: left;
	margin: 20px;
}

/*contact page*/

form {
	margin: 20px;
}

input {
	width: 100%;
	height: 18px;
	margin-bottom: 50px;
	margin-top: 10px;
}

#message {
	margin: 10px 0 30px 0;
	width: 100%;
	height: 100px;
	resize: none;
	border-color: #cccccc;

}

#submitbutton {
	width: 80px;
	height: 30px;
	background-color: #4aaaa5;
	border: none;
	color: #ffffff;
	padding: 10px;
}

/*portfolio page*/

#portfoliocontainer {
	margin: 20px;
}

#portfolio .image {
	float: left;
	margin: 10px;
	width: 250px;
	height: 200px;
	position: relative;
	padding: 0;
}

#portfolio .image:hover {
	opacity: 0.5;
}


.image h3 {
	background-color: #4aaaa5;
	position: absolute;
	top: 160px;
	color: white;
	text-align: center;
	width: 230px;
	font-size: 16px;
	font-weight: normal;
	padding: 10px;
}

/*media queries*/

@media screen and (max-width: 980px) {

	nav ul {
		float: left;
		margin-left: 180px;
	}

	.main {
		width: 400px;

	}

	.connect {
		width: 250px;
	}


/*footer p placement? */

	/*index page*/
	#profilepic {
		margin: 20px 80px;
	}

	#about p {
		clear: both;
	}

	/*portfolio page*/
	#portfolio img {
		clear: both;
		margin: 10px 50px;
	}

	.image h3 {
		left: 50px;
	}


}















